# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploaded media assets
uploads/*
!uploads/.gitkeep
